img {
  width: 100%;
}

.home_canvas {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container_photo {
  text-align: center;
  margin: auto;
  margin-top: 0.5%;
  margin-bottom: 5%;
  border-style: solid;
  width: 35%;
  background-color: #FAF0E6;
}

.user_name {
  margin-top: 5%;
  text-align: center;
}

.inline_like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_comment {
  width:92%;
}

#home_text {
    text-align: left;
}

#no_pictures {
  text-align: center;
  margin-top: 25%;
  font-style: italic;
}
